
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #23397b;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #4676b4;
  top: 45%;
  left: 47%;
  animation-duration: 307s;
  animation-delay: -178s;
  transform-origin: 17vw -21vh;
  box-shadow: 100vmin 0 13.146896526383012vmin currentColor;
}
.background span:nth-child(1) {
  color: #4676b4;
  top: 26%;
  left: 59%;
  animation-duration: 459s;
  animation-delay: -28s;
  transform-origin: 25vw -11vh;
  box-shadow: 100vmin 0 12.942744349329498vmin currentColor;
}
.background span:nth-child(2) {
  color: #3e5ea8;
  top: 13%;
  left: 77%;
  animation-duration: 82s;
  animation-delay: -201s;
  transform-origin: 9vw -19vh;
  box-shadow: 100vmin 0 13.071034687060314vmin currentColor;
}
.background span:nth-child(3) {
  color: #3e5ea8;
  top: 82%;
  left: 59%;
  animation-duration: 151s;
  animation-delay: -230s;
  transform-origin: 0vw -15vh;
  box-shadow: 100vmin 0 12.536142978071183vmin currentColor;
}
.background span:nth-child(4) {
  color: #4676b4;
  top: 6%;
  left: 17%;
  animation-duration: 274s;
  animation-delay: -6s;
  transform-origin: -7vw -19vh;
  box-shadow: 100vmin 0 13.27858865129694vmin currentColor;
}
.background span:nth-child(5) {
  color: #3e5ea8;
  top: 35%;
  left: 11%;
  animation-duration: 216s;
  animation-delay: -86s;
  transform-origin: 2vw 11vh;
  box-shadow: 100vmin 0 13.459011412680535vmin currentColor;
}
.background span:nth-child(6) {
  color: #354097;
  top: 63%;
  left: 42%;
  animation-duration: 71s;
  animation-delay: -153s;
  transform-origin: -6vw -21vh;
  box-shadow: 100vmin 0 13.168375116333001vmin currentColor;
}
.background span:nth-child(7) {
  color: #3e5ea8;
  top: 97%;
  left: 75%;
  animation-duration: 244s;
  animation-delay: -316s;
  transform-origin: -24vw -17vh;
  box-shadow: 100vmin 0 13.299705736045471vmin currentColor;
}
.background span:nth-child(8) {
  color: #3e5ea8;
  top: 4%;
  left: 64%;
  animation-duration: 296s;
  animation-delay: -440s;
  transform-origin: -6vw 16vh;
  box-shadow: 100vmin 0 12.614074907190894vmin currentColor;
}
.background span:nth-child(9) {
  color: #3e5ea8;
  top: 32%;
  left: 47%;
  animation-duration: 397s;
  animation-delay: -439s;
  transform-origin: 21vw 2vh;
  box-shadow: 100vmin 0 12.811771057436607vmin currentColor;
}
.background span:nth-child(10) {
  color: #354097;
  top: 84%;
  left: 79%;
  animation-duration: 243s;
  animation-delay: -254s;
  transform-origin: 25vw 12vh;
  box-shadow: -100vmin 0 13.073711373060698vmin currentColor;
}
.background span:nth-child(11) {
  color: #3e5ea8;
  top: 39%;
  left: 45%;
  animation-duration: 22s;
  animation-delay: -87s;
  transform-origin: -12vw -7vh;
  box-shadow: -100vmin 0 13.024828009400078vmin currentColor;
}
.background span:nth-child(12) {
  color: #3e5ea8;
  top: 90%;
  left: 92%;
  animation-duration: 304s;
  animation-delay: -293s;
  transform-origin: 24vw -6vh;
  box-shadow: 100vmin 0 13.429617700233472vmin currentColor;
}
.background span:nth-child(13) {
  color: #3e5ea8;
  top: 56%;
  left: 24%;
  animation-duration: 453s;
  animation-delay: -177s;
  transform-origin: 10vw 2vh;
  box-shadow: 100vmin 0 12.948945563474744vmin currentColor;
}
.background span:nth-child(14) {
  color: #3e5ea8;
  top: 21%;
  left: 16%;
  animation-duration: 189s;
  animation-delay: -243s;
  transform-origin: -4vw 25vh;
  box-shadow: -100vmin 0 12.871756410236522vmin currentColor;
}
.background span:nth-child(15) {
  color: #3e5ea8;
  top: 81%;
  left: 87%;
  animation-duration: 274s;
  animation-delay: -55s;
  transform-origin: -16vw -24vh;
  box-shadow: 100vmin 0 12.994923748079692vmin currentColor;
}
.background span:nth-child(16) {
  color: #4676b4;
  top: 18%;
  left: 50%;
  animation-duration: 151s;
  animation-delay: -228s;
  transform-origin: 23vw -7vh;
  box-shadow: 100vmin 0 12.764397015880151vmin currentColor;
}
.background span:nth-child(17) {
  color: #4676b4;
  top: 10%;
  left: 20%;
  animation-duration: 295s;
  animation-delay: -28s;
  transform-origin: 8vw -21vh;
  box-shadow: 100vmin 0 12.51455446352126vmin currentColor;
}
.background span:nth-child(18) {
  color: #354097;
  top: 100%;
  left: 43%;
  animation-duration: 221s;
  animation-delay: -49s;
  transform-origin: 8vw 23vh;
  box-shadow: 100vmin 0 12.651149446818964vmin currentColor;
}

body{
  margin:0;
  padding:0;
  }
a {
  color: unset;
  text-decoration: unset;
}
#nav {
  background-color: rgba(0, 0, 0, 0.212);
  width: 100%;
  position: absolute;
	margin:0px;
	padding:2em;
  font-family: Roboto, tahoma; 
}




#nav li {
	display: inline;
  padding: 0em;
	margin-left: 3vw;
  color: #ffffff;
  font-weight: bolder;
  font-size: 20px;
}
.banner {
}



#nav li:hover {
  color: rgb(53, 10, 78);
}
h1 {


}



  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 0px;
    margin: 0em;
    margin-left: 5em;
    margin-right: 5em;
    }
    
    .blog-title { grid-area: 1 / 1 / 2 / 4; 
    margin-top: 5em;
    margin-left: 0vw; }

    h1 {
      margin-top: 2em;
      font-family: Roboto, tahoma; 
      padding-bottom: 1em;
      margin-left: 0.3em;
      color: #fffefe;
      font-weight: bolder;
      font-size: 20px;
    }
      


    h2 {
      text-align: left;
      font-family: sans-serif;
      color: #ffffff;
      font-size: 5em;
      text-shadow: #482666;
      opacity: 0.8;
      /*
      text-shadow: 1px 0px 4px #ffffff13, 2px 0px 4px #fa28e81e, 3px 0px 4px #ffd5ff13, 2px 0px 3px #f953ff25, 2px 3px 15px #ff65f72d, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #d42cc91f,40px 0vw 200px #d42cc91a;
*/
     
      }
img {
max-width: 20vw;
object-fit: scale-down;


}

      h3 {
        text-align: left; 
        font-family: sans-serif;
        color: #ffffff;
        font-size: 3em;
        text-shadow: #482666;
        text-shadow: ;
        opacity: 0.8;
        margin-top: -1em;
        margin-bottom: 1em;}

      h4 {
        text-align: center;
        font-family: sans-serif;
        color: #ffffff;
        font-size: 3em;
        text-shadow: #482666;
        opacity: 1;
      }
      
      p {
        text-align: left;
        font-family: sans-serif;
        color: #f7f7f7;
        font-size: 20px;
        text-shadow: #482666;
        opacity: 1;
        font-weight: lighter;
      }
  
    .margins { grid-area: 2 / 1 / 3 / 2;
      background: #153E7B;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      padding-left: 4em;
      padding-right: 4em;
      margin-top: 6em;
      margin-bottom: 5em;
      padding-bottom: 4em;
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #bc13fe,
                  0 0 0.8rem #bc13fe,
                  0 0 2.8rem #bc13fe,
                  inset 0 0 1.3rem #bc13fe;
    }
    
    .border { grid-area: 2 / 2 / 3 / 3; 
      background: #153E7B;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      padding-left: 4em;
      padding-right: 4em;
      margin-top: 6em;
      margin-bottom: 5em;
      padding-bottom: 4em;
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #bc13fe,
                  0 0 0.8rem #bc13fe,
                  0 0 2.8rem #bc13fe,
                  inset 0 0 1.3rem #bc13fe;

    }


    #border-example {
     border: solid;
     border-width: 3px;
     border-color: coral;
    }

    #border-example2 {
      border-left: solid;
      border-right: solid;
      border-width: 3px;
      border-color: rgb(255, 255, 255);
     }
 


    .padding { grid-area: 2 / 3 / 3 / 4; 
      background: #153E7B;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      padding-left: 4em;
      padding-right: 4em;
      margin-top: 6em;
      margin-bottom: 5em;
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #bc13fe,
                  0 0 0.8rem #bc13fe,
                  0 0 2.8rem #bc13fe,
                  inset 0 0 1.3rem #bc13fe;
    }


    .more { grid-area: 3 / 1 / 4 / 4; }
   
    .neon{
      font-family: Roboto, tahoma;
      font-size: 30px !important;
      color: rgb(255, 255, 255) !important;
      position: ;
      font-weight: ;
      letter-spacing: 4px;
      text-shadow: 1px 0px 4px #591275, 2px 0px 4px #ecd5ff, 3px 0px 4px #FFD5FF, 2px 0px 3px #882cd4b6, 2px 3px 15px #9b43d6, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;

      padding-top: 2em;
    }
  
 
    .flicker-slowest {
      animation: flicker 20s linear infinite;
    }
    
    .flicker-slower{
      animation: flicker 5s linear infinite;
    }
    
    .flicker-slow{
      animation: flicker 3s linear infinite;
    }
    
    .flicker-medium{
      animation: flicker 2s linear infinite;
    }
    .flicker-fast{
            animation: blink linear infinite 1s;    }
    
    @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        //text-shadow: none;
        opacity: .99;
        
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
      } 
    }