/* GENERAL DOCUMENT STLYES */

* {
  box-sizing: border-box;
}

html {
  background-image: url(../styles/images/sprint-2-learning-plan-images/41.-Tonys-Pink_1.jpg);
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  max-width: 100%;
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-wrap: wrap;
  flex-flow: nowrap;
  overflow-wrap: break-word;
  justify-content: center;
}

img {
  object-fit: cover;
  width: 70vw;
  max-width: 100%;
}


a {
  color: unset;
  text-decoration: unset;
}

/* NAVIGATION MENU */

#nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 10fr;
  width: 80%;
  height: 50%;
  position: absolute;
 column-gap: 10px;

  font-family: Roboto, tahoma; 
  word-spacing: 2em;

}


#nav li {

	display: inline;
  color: #000000;
  font-weight: lighter;
  font-size: 1.5em;
  
}

#nav li:hover {
  color: rgb(150, 94, 255);
}

/* HANNAH NEON FLICKER  */

.neon1{
  text-align: right;
}
.neon {
  align-self: top;
  break-before: always;
  font-family: Roboto, tahoma;
  font-size: 30px !important;
  color: rgba(121, 0, 177, 0.808) !important;
  font-weight: bolder;
  word-spacing: -.1em;
  letter-spacing: 4px;
  padding-top: ;
  text-align: right;
  text-shadow: 1px 0px 4px #d28fec, 2px 0px 4px #e8a1f7, 3px 0px 4px #ffafff, 2px 0px 3px #882cd4b6, 2px 3px 15px #9b43d6, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;

}

.flicker-slowest {
  animation: flicker 20s linear infinite;
}

.flicker-slower{
  animation: flicker 5s linear infinite;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-medium{
  animation: flicker 2s linear infinite;
}
.flicker-fast{
        animation: blink linear infinite 1s;    }

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    text-shadow: 1px 0px 4px #d28fec, 2px 0px 4px #e8a1f7, 3px 0px 4px #ffafff, 2px 0px 3px #882cd4b6, 2px 3px 15px #9b43d6, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
    opacity: .99;
    
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  } 
}

/* FONTS */

p {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: lighter;
  line-height: 30px;
}

h1 /* main header */ {
  font-family: sans-serif;
  font-size: 4em;
  line-height: 70px;
}

h2 /* sub-header*/{
  font-family: Roboto, tahoma;
  font-size: 2em;
  padding-top:2em;


}

h3 /*list headings*/{
  font-family: sans-serif;
  font-size: 1.8em;

}

h4 /*details*/ {
  font-size: 18px;
  font-family: Roboto, tahoma;
  font-style: italic;
  font-weight: bolder;
}

ul {
  list-style: none;
  padding-bottom: 3em;
  padding-top: 1em;
}
li {
  font-family: sans-serif;
  font-size: 20px;
}

.italics {
font-style: italic;
}

.bold {
font-weight:bold ;
}
/* BODY CONTENT */


.main-content{
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: auto;
  padding-top: 10em;
  padding-left: 5vw;
  padding-right: 5vw;
  object-fit: cover;
  padding-bottom: 10em;
}

.glassbg {
  justify-content: center;
  display: block;
  background: rgba( 253, 253, 253, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 3vw;
  padding-top: 4vw;
  margin-top: 8vh;
  margin-bottom: 12vh;
  font-size: x-small;
  
}


/* BANNER - TWO WIDE IMAGE + TEXT OVERLAY */

  .two-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;  
  grid-template-areas: 
  "image1 image2";
  object-fit: cover;
padding-top: 50px;
row-gap: 20px;

}


.two-image-grid-image1 {
  grid-area: image1;
  object-fit: cover;
  height: 400px;
  opacity: 100%;

}

.two-image-grid-image2 {
  grid-area: image2;
  object-fit: cover;
  height: 400px;
  opacity: 100%;
  }





  /* CONTENT -  */




  /* CONTENT - THREE WIDE SECTIONS */



  .gridfull{
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr ;
  grid-template-rows: auto auto;
  column-gap: 10px;
  grid-template-areas: "grid1 grid2 grid3";
}


#grid1 {
  grid-area: grid1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "one1" "two1" "three1";
  padding: 10px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}


#grid2 {
  grid-area: grid2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "one2" "two2" "three2";
  padding: 10px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}
#grid3 {
  grid-area: grid3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "one3" "two3" "three3";
  padding: 10px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

#grid1.glassbg {
  background-color:rgba(255, 163, 127, 0.288);
}
#grid2.glassbg {
  background-color:rgba(248, 222, 192, 0.342);
}
#grid3.glassbg {
  background-color:rgba(255, 227, 204, 0.603);
}

/* 2x3 grid */

.grid-dom{
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: auto;
  grid-template-areas: 
  "one two" 
  "three four" 
  "five six";
 
  padding: 10px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  column-gap: 8vw;
  row-gap: 2vw;
  justify-items: center;
}

.dom1 {
  grid-area: one;
}
.dom2 {
  grid-area: two;
  object-fit: cover;
  background-color: #ffffffe7;
  padding:10px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.dom3 {
  grid-area: three;
}
.dom4{
  grid-area: four;
}



/* multi image banner row */

.num-wide-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-width: 20%;
  height: fit-content;
  column-gap: 20px;
}

.num-wide-banner > img {
object-fit: cover;
border-radius: 5%;
height: 30vh;

}


/* FOOTER */

.footer {
  display: block;
  text-align: center;
  margin-top: 10em;

}
.footer-li {
  font-family: Roboto, tahoma;
  font-size: x-large;
}
.footer-li2 {
  font-family: Roboto, tahoma;
  font-size: x-large;

}
.footer-li:hover {
  color: rgb(150, 94, 255);
}
.footer-li2:hover {
  color: rgb(150, 94, 255);
}


