* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
a {
  color: unset;
  text-decoration: unset;
}

/* NAVIGATION MENU */


#nav {
  position: fixed;
	margin:0;
	padding:2em;
  font-family: Roboto, tahoma; 
}


#nav li {
	display:inline;
  padding: 0em;
	margin-left: 3vw;
  color: #AE9BBF;
  font-weight: bolder;
  font-size: 20px;
}



#nav li:hover {
  color: white;
}

.grid-container {
  max-width: 100%;
  grid-template-columns: 0.3fr 0.3fr 0.6fr;
  grid-template-rows: 0.2fr 0.3fr 0.2fr;
  padding-right: 3em;
  padding-top: 3em;
  display: grid;
  column-gap: 1vw;
  justify-content: right;
  margin: 1vw;

}

.myname {
text-indent: 1vw;
text-align: right;
font-family: sans-serif;
color: #62447c;
font-size: 10em;
text-shadow: #482666;

}

.sub-heading {
  font-family: Roboto, tahoma; 
  color: #62447c;
  font-weight: bolder;
  font-size: larger;
  justify-content: right;
  text-align: right;
}


h4 {
text-align: center;
font-family: Roboto;
}


.completed {
  text-decoration: line-through;
}

#grid-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: left;
	margin-right: 3vw;
  margin-left: 15vw;
  color: #AE9BBF;
  font-size: 30px; 
  font-family: sans-serif;
  line-height: 6vw;
}
.list-header {
  font-size: 2em;

}
/*
#grid-list li:hover {
  color: rgb(255, 255, 255);
}*/

.sprint-blog {
  padding-left: 3vw;
  font-size: smaller;

}

.sprint-blog:hover{
  color: rgb(255, 255, 255);

}

/* mobile */

@media only screen and (max-width: 768px) {
  
  
  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
  }

  #nav {
    padding: 1vw;
    display: block;
    position: fixed; }

  

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    grid-row-gap: 0em;
    padding-top:10em;
    padding-left: em;
    padding-right: 4em;
    padding-bottom: 0em;
    height: 100%;
    max-width: 100%;
  }
  
  #grid-list {
    padding-left: 4em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-left: 4em;
    display: block;
    text-align: right;
    font-size: 9vw;
  }
  #grid-list li {
    line-height: 3em; }

 .myname {
  margin-left: 8vw;
  text-align: center;
  font-family: sans-serif;
  color: #62447c;
  font-size: 25vw;
  text-shadow: #482666;
  opacity: 0.6;
  }
 .list-header {
  font-family: sans-serif;
  color: #62447c;
  font-weight: medium;
  font-size: 11vw;
  justify-content: center;
  text-align: right;
  } 
 .sprint {
  margin-left: 3em;
  font-size: 7vw;
}
}

/* tablet adjustments below */


@media only screen and (min-width: 768px) and (max-width: 1200px){
 
  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  a {
    color: unset;
    text-decoration: unset;
  }
  
  
  
  #nav {
    position: fixed;
    margin:0;
    padding:2em;
    font-family: Roboto, tahoma; 
  }
  
  
  #nav li {
    display:inline;
    padding: 0em;
    margin-left: 3vw;
    color: #AE9BBF;
    font-weight: bolder;
    font-size: 20px;
  }
  
  
  
  #nav li:hover {
    color: white;
  }
  
  .grid-container {
    grid-template-columns: 0.3fr 0.3fr 0.6fr;
    grid-template-rows: 0.2fr 0.3fr 0.2fr;
    padding-right: 3em;
    padding-top: 3em;
    display: grid;
    column-gap: 1vw;
    justify-content: right;
    margin: 1vw;
    max-width: 100%;

  
  }
  
  
  .myname {
  text-indent: 1vw;
  text-align: right;
  font-family: sans-serif;
  color: #62447c;
  font-size: 10em;
  text-shadow: #482666;
  
  }
  
  .sub-heading {
    font-family: Roboto, tahoma; 
    color: #62447c;
    font-weight: bolder;
    font-size: larger;
    justify-content: right;
    text-align: right;
  }
  
  
  h4 {
  text-align: center;
  font-family: Roboto;
  }
  
  
  .completed {
    text-decoration: line-through;
  }
  
  #grid-list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    text-align: left;
    margin-right: 3vw;
    margin-left: 15vw;
    color: #AE9BBF;
    font-size: 30px; 
    font-family: sans-serif;
    line-height: 6vw;
  }
  .list-header {
    font-size: 2em;
  
  }
  /*
  #grid-list li:hover {
    color: rgb(255, 255, 255);
  }*/
  
  .sprint-blog {
    padding-left: 3vw;
    font-size: smaller;
  
  }
  
  .sprint-blog:hover{
    color: rgb(255, 255, 255);
  
  }
  
} 