
body {
  width: 100%;
  max-width: 100%;
}


a {
  color: unset;
  text-decoration: unset;
}
#nav {
display: inline;
width: 80%;
height: 50%;
  position: absolute;
	margin: 2em;
  font-family: Roboto, tahoma; 
  word-spacing: 2em;

}


#nav li {
  margin-left: ;
	display: inline;
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
  
}

#nav li:hover {
  color: rgb(255, 255, 255);
}

/* neon, flicker name in nav 
 .neon{
      font-family: Roboto, tahoma;
      font-size: 30px !important;
      color: rgba(0, 0, 0, 0.808) !important;
      position: ;
      font-weight: ;
      letter-spacing: 4px;
      text-shadow: 1px 0px 4px #44414600, 2px 0px 4px #ecd5ff04, 3px 0px 4px #ffd5ff00, 2px 0px 3px #882cd400, 2px 3px 15px #9b43d600, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #d42cc900,40px 0vw 200px #d42cc900;
padding-left: 8em;
      padding-top: 2em;
    }
  
    .flicker-slowest {
      animation: flicker 20s linear infinite;
    }
    
    .flicker-slower{
      animation: flicker 5s linear infinite;
    }
    
    .flicker-slow{
      animation: flicker 3s linear infinite;
    }
    
    .flicker-medium{
      animation: flicker 2s linear infinite;
    }
    .flicker-fast{
            animation: blink linear infinite 1s;    }
    
    @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        //text-shadow: none;
        opacity: .99;
        
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
      } 
    }*/

    p {
      font-family: sans-serif;
      line-height: 2em;
      font-size: larger;

        }
        p1 {
          font-family: sans-serif;
          font-size: larger;
          line-height: 2em;
        }
   
h2 {
  font-family: sans-serif;
  font-size: 80px;
}

h6 {
          font-family: Roboto, tahoma;
          font-size: x-large ;
          font-style: italic;
        
          

        }
 h5 { font-family: sans-serif;
  font-size: 6vw;
        }
  .path-text {
    padding-top: 2em;
    font-family: Roboto, tahoma;
    font-size: larger;
  }
.header {
  padding-top:7vh;
  padding-left:10vw;
  padding-right:10vw;

  }
